*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: start;
}

form {
    background-color: aliceblue;
    width: 30%;
    height: 100vh;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap:10px;
}

form label{
    width: 100%;
    font-size: 1.2em;
}

form input,textarea{
    width: 100%;
    padding: 10px;
}

form button{
    background-color: dodgerblue;
    color: papayawhip;
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
}

.listsContainer{
    background-color: papayawhip;
    width: 70%;
    min-height: 100vh;
    padding: 3%;
}

.listsContainer .sort {

}

.listsContainer .sort button{
    padding: 10px;
}

.completed {
    text-decoration: line-through;
    color: rebeccapurple;
}

ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
    list-style: none;
}

ul li {
    background-color: aliceblue;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul li #head{
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}

ul li #head span{
    display: flex;
    gap: 5px;
    align-items: center;
}

ul li span{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

ul li span span{
    display: flex;
    gap: 3px;
}

ul li span span button{
    padding: 10px;
}