// colors
$dark: #18171F;
$darkGray: #24232C;
$lightGray: #817D92;
$light: #E6E5EA;
$yellow: #F8CD65;
$orange: #FB7C58;
$red: #F64A4A;
$green: #A4FFAF;

// Fonts
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

// Mixins
@mixin centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin customText {
  font-size: 18px;
  font-weight: bold;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  background-color: $dark;
  @include centering;
  @include customText;
  min-height: 100vh;
  min-width: 100vw;

  .wrapper{
    width: 540px;
    @include centering;
    gap: 31px;

    h1{
      text-align: center;
      color: $lightGray;
    }

    .pwdHolder{
      background-color: $darkGray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px 25px;

      p{
        color: $light;
        font-size: 32px;
        font-weight: bold;
      }

      span {
        display: flex;
        align-items: center;
        gap:4px;

        img{
          color: $green;
          transition: ease-in-out 0.2s;
          cursor: pointer;

          &:hover {
            filter: brightness(2);
            transform: scale(1.2);
          }

          &:active {
            transform: scale(0.9);
          }
        }
      }
    }

    .pwdConfigure{
      background-color: $darkGray;
      @include centering;
      width: 100%;
      gap: 32px;
      padding: 25px;

      .customizePwd{
        display: flex;
        flex-direction: column;
        gap: 31px;
        width: 100%;

        .head{
          display: flex;
          justify-content: space-between;
          align-items: center;

          p{
            color: $light;
          }

          h2{
            color: $green;
            font-size: 32px;
          }
        }

        input{
          accent-color:$green;
          outline: none;
          border: none;
        }
      }

      .checkers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .checker {
          display: flex;
          align-items: center;
          gap: 24px;
          color: $light;
          transition: ease-in-out 0.1s;
          padding: 5px;

          .check{
            transition: ease-in-out 0.1s;

            &:active {
              transform: scale(0.5);
            }
          }

          .checked{
            background-color:$green;
            border: none;
          }

          div{
            background-color: $dark;
            border: 2px solid $light;
            border-radius: 0;
            outline: none;
            width: 20px;
            height: 20px;
            @include centering;

            img{
              width: 11px;
              height: 10px;
            }
          }

          p{

          }
        }
      }

      .trackerContainer{
        width: 100%;
        background-color: $dark;
        display: flex;
        justify-content: space-between;
        padding: 14px;
        color: $lightGray;

        .trackerSimulator{
          color: $light;
          text-transform: uppercase;
          display: flex;
          gap: 16px;

          .levels{
            display: flex;
            gap: 8px;

            span{
              width: 10px;
              height: 28px;
              background-color: $light;
            }

            .active{
              background-color: $green;
            }
          }
        }

      }

      button{
        width: 100%;
        padding: 13px 16px;
        color: $dark;
        background-color: $green;
        @include centering;
        gap: 12px;
        flex-direction: row;
        transition: ease-in-out 0.1s;
        border: 2px solid $green;

        &:hover {
          background-color: $darkGray;
          color: $light;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

.strong {
  background-color: $green;
}

.medium {
  background-color: $yellow;
}

.weak {
  background-color: $orange;
}

.veryWeak {
  background-color: $red;
}