@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", Arial, sans-serif;
  background-color: #18171F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  min-height: 100vh;
  min-width: 100vw;
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}
body .wrapper {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
@media (max-width: 600px) {
  body .wrapper {
    width: 90vw;
    justify-content: start;
    padding-top: 20px;
  }
}
body .wrapper h1 {
  text-align: center;
  color: #817D92;
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 600px) {
  body .wrapper h1 {
    font-size: 24px;
  }
}
body .wrapper .pwdHolder {
  background-color: #24232C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
}
body .wrapper .pwdHolder p {
  font-size: 32px;
  font-weight: bold;
  color: #817D92;
}
@media (max-width: 600px) {
  body .wrapper .pwdHolder p {
    font-size: 24px;
  }
}
body .wrapper .pwdHolder .pwdGenerated {
  color: #E6E5EA;
}
body .wrapper .pwdHolder span {
  display: flex;
  align-items: center;
  gap: 4px;
}
body .wrapper .pwdHolder span #copiedText {
  color: #A4FFAF;
  font-size: 12px;
  transform: translateY(0);
  transition: ease-in-out 0.1s;
  opacity: 0;
}
body .wrapper .pwdHolder span img {
  color: #A4FFAF;
  transition: ease-in-out 0.1s;
  cursor: pointer;
}
body .wrapper .pwdHolder span img:hover {
  filter: brightness(2);
}
body .wrapper .pwdHolder span img:active {
  transform: scale(0.5);
}
body .wrapper .pwdConfigure {
  background-color: #24232C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 32px;
  padding: 25px;
}
body .wrapper .pwdConfigure .customizePwd {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 100%;
}
body .wrapper .pwdConfigure .customizePwd .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .wrapper .pwdConfigure .customizePwd .head p {
  color: #E6E5EA;
}
body .wrapper .pwdConfigure .customizePwd .head h2 {
  color: #A4FFAF;
  font-size: 32px;
}
@media (max-width: 600px) {
  body .wrapper .pwdConfigure .customizePwd .head h2 {
    font-size: 24px;
  }
}
body .wrapper .pwdConfigure .customizePwd input {
  accent-color: #A4FFAF;
  outline: none;
  border: none;
}
body .wrapper .pwdConfigure .checkers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
body .wrapper .pwdConfigure .checkers .checker {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #E6E5EA;
  transition: ease-in-out 0.1s;
  padding: 5px;
}
body .wrapper .pwdConfigure .checkers .checker .check {
  transition: ease-in-out 0.1s;
}
body .wrapper .pwdConfigure .checkers .checker .check:active {
  transform: scale(0.5);
}
body .wrapper .pwdConfigure .checkers .checker .checked {
  background-color: #A4FFAF;
  border: none;
}
body .wrapper .pwdConfigure .checkers .checker div {
  background-color: #18171F;
  border: 2px solid #E6E5EA;
  border-radius: 0;
  outline: none;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .wrapper .pwdConfigure .checkers .checker div img {
  width: 11px;
  height: 10px;
}
body .wrapper .pwdConfigure .trackerContainer {
  width: 100%;
  background-color: #18171F;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  color: #817D92;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator {
  color: #E6E5EA;
  text-transform: uppercase;
  display: flex;
  gap: 16px;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels span {
  width: 10px;
  height: 28px;
  background-color: #E6E5EA;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels .strong {
  background-color: #A4FFAF;
  border: 1px solid #A4FFAF;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels .medium {
  background-color: #F8CD65;
  border: 1px solid #F8CD65;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels .weak {
  background-color: #FB7C58;
  border: 1px solid #FB7C58;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels .tooWeak {
  background-color: #F64A4A;
  border: 1px solid #F64A4A;
}
body .wrapper .pwdConfigure .trackerContainer .trackerSimulator .levels .active {
  background-color: transparent;
  border: 1px solid #E6E5EA;
}
body .wrapper .pwdConfigure button {
  width: 100%;
  padding: 13px 16px;
  color: #18171F;
  background-color: #A4FFAF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  gap: 12px;
  flex-direction: row;
  transition: ease-in-out 0.1s;
  border: 2px solid #A4FFAF;
}
@media (max-width: 600px) {
  body .wrapper .pwdConfigure button {
    font-size: 15px;
  }
}
body .wrapper .pwdConfigure button:hover {
  background-color: #24232C;
  color: #E6E5EA;
}
body .wrapper .pwdConfigure button:hover img {
  filter: brightness(10);
}
body .wrapper .pwdConfigure button:active {
  transform: scale(0.9);
}

/*# sourceMappingURL=styles.css.map */
