.lgBg {
  background: url("../../public/assets/images/pattern-background-desktop-light.svg") no-repeat center center fixed;
  background-size: cover;
}

.lgBgDark {
  background: url("../../public/assets/images/pattern-background-desktop-dark.svg") no-repeat center center fixed;
  background-size: cover;
}

.mdBg {
  background: url("../../public/assets/images/pattern-background-tablet-light.svg") no-repeat center center fixed;
  background-size: cover;
}
.smBg {
  background: url("../../public/assets/images/pattern-background-mobile-light.svg") no-repeat center center fixed;
  background-size: cover;
}
